/* Style for Body */
body {
  background-image: url('../images/grey_@2X.png');
  margin: 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh
}

/* Text Logo Style */  
#navbar-brand {
  font-size: h1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: #4aaaa5;
  padding: 1em;
  float: left;
  margin-left: 5em;
}

/* Style the links inside the navigation bar */
.navbar {
  background-color: white;
  width: 100%;
}   

.card {
  max-width: 90%;
  float: center;
}